<!DOCTYPE html>
<html>
<head>
  <title>Notizie</title>
</head>
<body>
    <h1>Ultime Notizie</h1>
    <ul>
        <li>
            <h2>Titolo Notizia 1</h2>
            <p>Breve descrizione notizia 1</p>
            </li>
        <li>
            <h2>Titolo Notizia 2</h2>
            <p>Breve descrizione notizia 2</p>
        </li>
        <li>
            <h2>Titolo Notizia 3</h2>
            <p>Breve descrizione notizia 3</p>
        </li>
    </ul>
    <h5> 
        <p> Response from {{hostname}} with IP address {{ip_address}}<p>
    </h5>
</body>
</html>
